apiVersion: v1
kind: Service
metadata:
  name: jenkins-service
  namespace: jenkins
spec:
  type: LoadBalancer
  ports:
    - protocol: TCP  
      port: 8080
      targetPort: 8080
      name: http
  selector:
    app: jenkins-service